<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="index.php?class=Login&method=save" method="post">
        <div>
            <label for="">email</label>
            <input type="email">
        </div>
        <div>
            <label for="">senha</label>
            <input type="password">
        </div>
        <button type="submit">logar</button>
    </form>
</body>

</html>