<!doctype html>
<html lang="pt-br" data-bs-theme="auto">

<head>
    <script src="../Layout/js/color-modes.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Login</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/sign-in/">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">

    <link href="./Layout/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./Layout/css/sign-in.css" rel="stylesheet">
</head>

<body class="py-4 bg-body-tertiary">
    <main class="container">
        <form class="row" enctype="multipart/form-data" method="post"
            action="index.php?class=FormPreferencias&method=save">
            <div class="col-md-6">
                <h3>Textos</h3>
                <div class="mb-3">
                    <label for="title" class="form-label">Título</label>
                    <input type="text" class="form-control" id="title" name="title" value="{title}">
                </div>
                <div class="mb-3">
                    <label for="linkFacebook" class="form-label">Link do Facebook</label>
                    <input type="text" class="form-control" id="linkFacebook" name="linkFacebook"
                        value="{linkFacebook}">
                </div>
                <div class="mb-3">
                    <label for="linkInstagram" class="form-label">Link do Instagram</label>
                    <input type="text" class="form-control" id="linkInstagram" name="linkInstagram"
                        value="{linkInstagram}">
                </div>
                <div class="mb-3">
                    <label for="titleHomeSection" class="form-label">Título da Seção Home</label>
                    <input type="text" class="form-control" id="titleHomeSection" name="titleHomeSection"
                        value="{titleHomeSection}">
                </div>
                <div class="mb-3">
                    <label for="subtitleHomeSection" class="form-label">Subtítulo da Seção Home</label>
                    <input type="text" class="form-control" id="subtitleHomeSection" name="subtitleHomeSection"
                        value="{subtitleHomeSection}">
                </div>
                <div class="mb-3">
                    <label for="titleFeaturesHome" class="form-label">Título das Características da Home</label>
                    <input type="text" class="form-control" id="titleFeaturesHome" name="titleFeaturesHome"
                        value="{titleFeaturesHome}">
                </div>
                <div class="mb-3">
                    <label for="titleTestimonySection" class="form-label">Título da Seção de Testemunhos</label>
                    <input type="text" class="form-control" id="titleTestimonySection" name="titleTestimonySection"
                        value="{titleTestimonySection}">
                </div>
                <div class="mb-3">
                    <label for="titleStoreSection" class="form-label">Título da Seção Loja de Aplicativos</label>
                    <input type="text" class="form-control" id="titleStoreSection" name="titleStoreSection"
                        value="{titleStoreSection}">
                </div>
                <div class="mb-3">
                    <label for="subTitleStoreSection" class="form-label">Subtítulo da Seção Loja de
                        Aplicativos</label>
                    <input type="text" class="form-control" id="subTitleStoreSection" name="subTitleStoreSection"
                        value="{subTitleStoreSection}">
                </div>
                <div class="mb-3">
                    <label for="telContact" class="form-label">Telefone de Contato</label>
                    <input type="text" class="form-control" id="telContact" name="telContact" value="{telContact}">
                </div>
                <div class="mb-3">
                    <label for="msgCopyright" class="form-label">Mensagem de Copyright</label>
                    <input type="text" class="form-control" id="msgCopyright" name="msgCopyright"
                        value="{msgCopyright}">
                </div>
                <div class="mb-3">
                    <label for="urlFooter" class="form-label">URL do Rodapé</label>
                    <input type="text" class="form-control" id="urlFooter" name="urlFooter" value="{urlFooter}">
                </div>
                <div class="mb-3">
                    <label for="msgPowered" class="form-label">Mensagem Powered</label>
                    <input type="text" class="form-control" id="messagePowered" name="messagePowered"
                        value="{messagePowered}">
                </div>
            </div>
            <div class="col-md-6">
                <h3>Imagens</h3>
                <div class="mb-3">
                    <label for="favicon" class="form-label">Favicon</label>
                    <input type="file" class="form-control" id="favicon" name="favicon" value="{favicon}">
                </div>
                <div class="mb-3">
                    <label for="headerLogo" class="form-label">Logo do Cabeçalho</label>
                    <input type="file" class="form-control" id="headerLogo" name="headerLogo" value="{headerLogo}">
                </div>
                <div class="mb-3">
                    <label for="imgHomeSection" class="form-label">Imagem da Seção Home</label>
                    <input type="file" class="form-control" id="imgHomeSection" name="imgHomeSection"
                        value="{imgHomeSection}">
                </div>
                <div class="mb-3">
                    <label for="imgStoreAppsSection" class="form-label">Imagem da Seção Loja de Aplicativos</label>
                    <input type="file" class="form-control" id="imgStoreAppsSection" name="imgStoreAppsSection"
                        value="{imgStoreAppsSection}">
                </div>
                <div class="mb-3">
                    <label for="imgAppStore" class="form-label">Imagem da App Store</label>
                    <input type="file" class="form-control" id="imgAppStore" name="imgAppStore" value="{imgAppStore}">
                </div>
                <div class="mb-3">
                    <label for="imgPlayStore" class="form-label">Imagem da Play Store</label>
                    <input type="file" class="form-control" id="imgPlayStore" name="imgPlayStore"
                        value="{imgPlayStore}">
                </div>
                <div class="mb-3">
                    <label for="footerLogo" class="form-label">Logo do Rodapé</label>
                    <input type="file" class="form-control" id="footerLogo" name="footerLogo" value="{footerLogo}">
                </div>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>
    </main>
    <script src="./Layout/js/bootstrap.bundle.min.js"></script>
</body>


</html>